
<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">
        Add new Product
    </a>
</p>

<p>
    <input 
    (keyup)="filter(query.value)" #query
    type="text" class="form-control" placeholder="Search..">
</p>


<!-- New table-->

<table mat-table [dataSource]="filteredProducts" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.payload.val().title}} </td>
    </ng-container>
  
    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.payload.val().price}} </td>
    </ng-container>
  
    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/admin/products/' , element.key]"> Edit </a>
      </td>
    </ng-container>
  
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

