
<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">
        Add new Product
    </a>
</p>

<p>
    <input 
    (keyup)="filter(query.value)" #query
    type="text" class="form-control" placeholder="Search..">
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let p of filteredProducts">

            <td>{{p.payload.val().title}}</td>
            <td>{{p.payload.val().price}}</td>

            <td> <a [routerLink]="['/admin/products/' , p.key]"> Edit </a></td>
            <!-- property binding [routerLink] was used bcoz for each link we need use 
            diferent IDs-->
        </tr>
    </tbody>
</table>

